/*
 * this is for sippKling Style
 */

.background-white {
	background-color: #fff !important;
}

.green-background-main-color {
	background: #2e9d87 !important;
}

.overflow-hidden {
	overflow: hidden;
}

.green-main-color {
	background: #2e9d87 !important;
	transition: all 0.3s;
}

.reset-heading {
	margin: 0px;
}

.green-main-color:hover {
	background: #187361 !important;
	color: #fff;
}

.red-sipp-kling-main-color {
	background: #e53935 !important;
}

.orange-sipp-kling-main-color {
	background: #ff884d !important;
}

.blue-sipp-kling-main-color {
	background: #81b9c3 !important;
}

.hover-changed:hover {
	background: #0e9076 !important;
}

.margin-30 {
	margin: 30px 0px;
}

.padding-box-footer {
	padding-left: 25px;
	padding-right: 25px;
}

.label-data-chart {
	font-weight: lighter;
}

.hide {
	display: none;
}

.line-height-box-body {
	width: 50px;
	height: 2px;
	margin: 10px 0px 20px;
}

.font-white {
	color: #fff;
}

.bg-maroon {
	background: #D81B60;
}

.bg-white {
	background: #fff;
}

.bg-blue {
	background: #3c8dbc;
}

.history-icon-style {
	width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
}

.history-update {
	color: #00c0ef;
}

.history-tambah {
	color: #00a65a;
}

#chat-box {
	padding-top: 20px;
}

.box-keterangan {
	padding: 20px;
	background: #1abc9c !important;
}

.margin-5 {
	margin: 5px 0px;
}

.margin-10 {
	margin: 10px 0px;
}

.border-bottom {
	border-bottom: 1px solid #999;
}

.box-detail-keterangan {
	padding: 5px 20px;
	border: 1px solid #cecece;
}

.detail-implicit small {
	margin-left: 4px;
}

.padding-20 {
	padding: 20px;
}

.padding-10 {
	padding: 10px;
}

.images-modal {
	text-align: center;
	width: 100%;
	overflow: hidden;
}

.images-modal img {
	width: 100%;
	background-position: center;
}

.more-occurs {
	background-color: #f0f0f0 !important;
}

.more-occurs div {
	padding: 2.5px;
	border-bottom: 1px solid #ddd;
}

.more-occurs div:last-child {
	border-bottom: 1px solid transparent;
	
}

.left {
	float: left;
}

.right {
	float: right;
}

.line-height-modal {
	width: 30px;
	height: 2px;
	background-color: #2e9d87;
}

.rw-p-control {
	padding: 7px 12px;
	background-color: #2e9d87;
	color: #fff;
}

.rw-p-control p {
	margin: 0;
}

#history-chat-retrieve {
	padding: 20px;
	height: 700px;
	overflow: auto;
}

.null-history {
	width: 100%;
	text-align: center;
}