@font-face {
  font-family: "Brandon_Grotesque_bold";
  src: url(../../assets/font/Brandon_blk.otf);}

@font-face {
  font-family: "Brandon_Grotesque_reg";
  src: url(../../assets/font/Brandon_reg.otf);}

@font-face {
  font-family: "Christmas_in_Finland";
  src: url(../../assets/font/Christmas_in_Finland.ttf);}

@keyframes breath {
  0%   { background-size: 100% auto; }
  50% { background-size: 140% auto; }
  100% { background-size: 100% auto; }
}

.f_bold {
  font-family: "Brandon_Grotesque_bold";
}

.f_reg {
  font-family: "Brandon_Grotesque_reg";
}
.tagline {
  font-family: "Brandon_Grotesque_reg";
  font-size: 15pt;
  line-height: 2em;
}
.complaint {
  font-family: "Brandon_Grotesque_reg";
  font-size: 12pt;
}

.judul_news{
  font-size: 23px;
  color: #f8981d;
  margin-bottom: 0.7em;
}
.card_news {
  border: 5px solid #f8981d; padding: 4em; opacity:0.7;
}

.ftag {
  font-family: "Christmas_in_Finland";
  font-size: 80pt;
}

.f_nav {
  font-size: 28pt;
}

.f_nav2 {
  font-size: 10pt;
}

.hamburger {
  margin-right: 3em;
  letter-spacing: 1px;
}


.logo {
  width: 40px;
  height: 40px;
  margin-left: 2em;
}

.about {
  font-family: "Brandon_Grotesque_bold";
  font-size: 30px;
}

.sponsor1 {
  width: 55px; height: 75px;
}
.sponsor2 {
  width: 135px; height: 55px;
}
.sponsor3 {
  width: 80px; height: 75px;
}

.bg1, .bg2, .bg3, .bg4 { 
  background-size: cover;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 40s ease-in infinite;
  animation: zoomin 40s ease-in infinite;
  transition: all .35s ease-in-out;
  overflow: hidden;
}
.bg1 {
  background-image: url('../../img/bg1.png'); 
}

.prev_news {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(0%,-50%);
  cursor: pointer;
}

.next_news {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translate(0%,-50%);
  cursor: pointer;
}

.btn_close {
  padding: 6px 32px;
  font-size: 48px!important;
}

.hidepok_logo {
  width: 50px;
  height: 50px;
  margin-left: 0.77em;
}

.zoomoutheader {
  text-align: center;
  background: none;
  -webkit-animation: zoomout 40s ease-in infinite;
  animation: zoomout 40s ease-in infinite;
  transition: all .35s ease-in-out;
  overflow: hidden;
}

.centerpagination {
    text-align: center;
}

.header-bg {
  background: #171717;
}

.orange-hd {
  background: #f8981d;
}
.gray-text {
  color: #cccccc!important;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.pagination li{
    display: inline;
}

.blog_content {
  padding-right: 3em;
}

.blog_headerjudul {
  font-size: 60pt;
  opacity: 1;
  transform: translateX(0px) translateY(0px);
  transition: opacity 1200ms, transform 1200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.blog_news {
  text-decoration: none;
  font-size: 15px;
}

.blog_scroll {
  top: 170%;
}

.blog_headerjudul2 {
  margin-top: -40px;
  font-size: 15px;
}

.event_content {
  margin-bottom: 2.5em;
}

.feat_img {
  width: 100%;
}

.feat_content {
  position: absolute; top: 50%; transform: translate(16%,-50%);
}

@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

@-webkit-keyframes zoomout {
  0% {transform: scale(1);}
  50% {transform: scale(0.67);}
  100% {transform: scale(1);}
}
@keyframes zoomout {
    0% {transform: scale(1);}
  50% {transform: scale(0.67);}
  100% {transform: scale(1);}
}

@media only screen and (max-width: 1250px) {
    .ftagr {
      font-size: 65pt;
      line-height: normal;
      margin-bottom: 10px;
    }
    .f_nav {
      font-size: 25pt;
    }
    .w-container {
      max-width: 1170px;
    }
    .works-row {
      width: auto;
    }
    .works-column {
      width: 25%;
    }
}

@media only screen and (max-width: 1050px) {
    .ftagr {
      font-size: 40pt;
      line-height: normal;
      margin-bottom: 10px;
    }
    .fresponsive {
      font-size: 13pt;
      line-height: normal;
    }
    .about_isi {
      margin: 0 -27px;
    }
    .f_nav {
      font-size: 20pt;
    }
    .blog_content {
      padding: 0 1em;
    }
    .blog_news {
      font-size: 13px;
    }
}

@media only screen and (max-width: 750px) {
    .fresponsive {
      font-size: 11pt;
      text-align: justify;
    }
    .ftagr {
      font-size: 21pt;
      margin: 0 3px;
      line-height: normal;
      margin-bottom: 10px;
    }
    .f_nav {
      font-size: 15pt;
    }
    .f_nav2 {
      font-size: 7pt;
    }
    .sponsor1 {
      width: 30px; height: 40px;
    }
    .sponsor2 {
      width: 85px; height: 35px;
    }
    .sponsor3 {
      width: 48px; height: 45px;
    }
    .about {
      font-family: "Brandon_Grotesque_bold";
      font-size: 23px;
    }
    .complaint {
      font-size: 10pt;
    }
    .judul_news{
      font-size: 15px;
    }
    .card_news {
      padding: 1.4em;
      margin: 0 -35px;
    }
    .prev_news {
      left: -14%;
    }
    .next_news {
      right: -14%;
    }
    .intro_awal {
      margin: 0 -46px 0 -9px;
    }
    .btn_close {
      padding: 10px 27px;
      font-size: 38px!important;
    }
    .hidepok_logo {
      width: 40px;
      height: 40px;
      margin: 4px 25px 0;
    }
    .blog_contentjudul {
      font-size: 18px;
    }
    .blog_contenttime {
      font-size: 13px;
    }
    .blog_contentbtn {
      font-size: 9pt;
      font-weight: bold;
      padding: 3px 8px;
    }
    .hamburger {
      margin-right: 1em;
    }
    .logo {
      margin-left: 0.5em;
    }
    .blog_headerjudul {
      font-size: 38pt;
    }
    .blog_news {
      font-size: 12px;
    }
    .blog_scroll {
      top: 215%;
    }
    .blog_headerjudul2 {
      font-size: 13px;
    }
    .blog_btn {
      width: 25%;
    }
    .event_content {
      padding: 0;
      margin-bottom: 0;
    }
    .feat_img {
      width: 70%;
    }
    .feat_content {
      margin-right: 12em;
    }
}

@media only screen and (max-width: 750px) {
  .blog_scroll {
    top: 190%;
  }
}